<odoo>
    <menuitem id="menu_contract_root"
              name="Contract Management"
              sequence="10"
              web_icon="project_contract_management,static/description/icon.png"
              />


    <menuitem id="menu_contract"
              name="Contracts"
              parent="menu_contract_root"
              action="action_contract"/>

    <!-- CONFIGURATION MENU -->
    <menuitem id="menu_contract_config"
              name="Configuration"
              parent="menu_contract_root"
              sequence="50"/>

    <!-- STAGE MENU -->
    <menuitem id="menu_contract_stage"
              name="Stages"
              parent="menu_contract_config"
              action="action_contract_stage"
              sequence="10"/>

    <!-- INDUSTRY ACTION -->
    <record id="action_contract_industry" model="ir.actions.act_window">
        <field name="name">Industries</field>
        <field name="res_model">res.partner.industry</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- INDUSTRY MENU -->
    <menuitem id="menu_contract_industry"
              name="Industries"
              parent="menu_contract_config"
              action="action_contract_industry"
              sequence="20"/>

    <!-- SERVICE LINE MENU -->
    <menuitem id="menu_contract_service_line"
              name="Service Lines"
              parent="menu_contract_config"
              action="action_contract_service_line"
              sequence="30"/>
</odoo>